
/* Universal Settings */
*{
  margin: 0;
  padding: 0;
}

html{


  color: gray;
}
h3{
  font-size: 24px;
  font-weight: bold;
}

.navbar, .intro, .start-info, .main-image, .about-left, .about-right, .right-infopoint{
  border: 2px solid black;
}

/*navbar*/

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height:
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 32px;
}

.menu ul {
  display: flex;
  justify-content: center;

}
.menu ul li{
  margin-left: 16px;
}
/*IntroBanner*/
.intro{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}
.start-info{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
h1{
  font-size: 54px;
  font-weight: bold;
}
.main-image{
  width:60%;
  padding: 32px 24px;
}
.main-image img{
  width:100%;
  height:100%;
}
/*About Banner*/
.about{
  display: flex;
  background-color: beige;
}
.about-left{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.about-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;

}
.about-left img{
  width:100%;
  height: auto;
}
.about-left h1{
  margin: 32px auto;
}
.right-infopoint{
  display: flex;
  justify-content: space-between;
  padding: 16px;

}
.infopoint-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  margin-left: 16px;
}
.right-img{
  width: 35%;

}
.right-img img{
  width: 100%;
  height: auto;
}
#grey-info{
  background-color: grey;
  color: white;
}
/* Classes Section */
.courses{
display: flex;
flex-direction: column;
align-items: center;
background-color: lightgrey;
}
.course-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;
}
.course-description{
  background-color: white;
}
.course{
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.course-heading{
  padding-top: 32px;
}
/*Thesis Sections */
.thesis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thesis-content{
  display: flex;

}
.thesis-left{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.thesis-about{
  width: 40%;
}
.thesis video{
  width: 100%;
  height: auto;
}
.thesis-about{
  display: flex;
  flex-direction: column;
}
.thesis-about-img img{
  width: 100% ;
  height: auto;
}
.thesis-about-block{
  display: flex;
}
.block-text{
  display: flex;
  flex-direction: column;
  width: 65%;
}
